/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, rgb(21, 32, 82), rgb(22, 9, 46));
  background-size: auto auto;
  height: 100vh;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 400) {
  body {
    font-size: 14;
  }
}

header {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fundo-menu.jpg");
  background-position: center center;
  background-size: cover;
}

.menu {
  background-color: rgb(27, 27, 27);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}


.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
  padding: 10px 15px;
}

.menu a {
  color: white;
  background-color: none;
  padding: 10px 15px;
}

.menu a:hover {
  transition: background-color 0.1s;
  background-color: rgb(48, 48, 48);
}

a {
  color: whitesmoke;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.titulo {
  transform: scale(1) translateY(50vh);
  opacity: 0;
  animation: linear 1s animacaoTitulo forwards;
}


@keyframes animacaoTitulo {
  from {
    transform: scale(0.95) translateY(0);
    opacity: 1;

  }

  to {
    transform: scale(1) translateY(0);
    opacity: 1;

  }
}

.site-subtitle,
.site-title {
  color: rgb(14, 32, 58);
  text-align: center;
}

.site-title {
  font-size: 3.5em;
  font-family: 'Roboto', sans-serif;
}


.site-subtitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1em;
}

.contato,
.portfolio {
  padding: 3em;
  color: white;
}


.contato h2,
.portfolio h2 {
  font-family: 'Hind', sans-serif;
  color: whitesmoke;
  margin-bottom: 1.2em;
  font-size: 1.8em;
}

.portfolio .grid {
  display: grid;
  gap: 1.5em;
}

@media (min-width: 800px) {
  .portfolio .grid {
    grid-template-columns: 350px 350px;
  }
}

@media (min-width: 1200px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 360px);
    align-content: center;
    justify-content: center;
    height: calc(70vh - 5em - 48px);
  }
}

.portfolio figure {
  text-align: CENTER;
}

figcaption {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 10px;
}

.img-portfolio {
  height: 230px;
  width: 350px;
  object-fit: cover;
  object-position: center bottom;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.459);
  transition: transform 0.1s;
}

.img-portfolio:hover {
  transform: scale(1.05);
  /* transform: scale(1.1) rotate(1.1deg); */

}

.contato {
  height: 30vh;
}

.contato .icons {
  width: auto;
  text-align: center;
}

.contato a {
  margin: 30px;
  color: whitesmoke;
  font-size: 3.5em;
  line-height: 1em;
  transition: text-shadow 0.1s;
}

@media(max-width: 400px) {
  .contato a {
    font-size: 3em;
  }
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 5px rgb(211, 246, 255);

}

.card {
  background-color: rgba(0, 0, 0, 0.295);
  padding: 2em;

}

.card-txt {
  padding-left: 4em;
}

.card-img {
  text-align: center;
  margin: 2em;
}

.card-img img {
  height: 30rem;
  transition: transform 0.1s;
}

.card-img img:hover {
  transform: scale(1.02);
  height: 30rem;
}

footer {
  text-align: center;
  padding: 2em;
  background-color: rgb(27, 27, 27);
}

footer a {
  text-decoration: none;
  font-family: 'Segoe UI';
  font-weight: 700;
  background-color: none;
}

footer a:hover {
  text-decoration: none;
  font-weight: 800;
}